.stats-container {
  background-color: var(--colorBgDarker);
  border: 1px solid var(--colorContainerBorder);
  text-align: center;
  padding: 5% 5%;
  min-height: calc(80vh + 15vh);
  border-radius: 1rem;
  min-width: 40rem;
  max-width: 80vh;
  display: grid;
  align-content: start;
  transition: padding 0.3s ease;

  @include screenMaxWidth(calc(105vh + 200px)) {
    max-width: 85vw;
    min-width: 85vw;
    height: 100%;
    min-height: calc(100vh - 16rem);
    padding: 7.5% 7.5%;
  }

  h1 {
    margin-bottom: 2rem;
  }

  table {
    /* table-layout: fixed property will ensure that the table cells do not wrap */
    table-layout: fixed;
    text-align: center;
    width: 100%;
    font-weight: 600;
    color: var(--colorTableNumbers);
    cursor: default;
    margin-bottom: auto;

    td:has(img), th:has(img) {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      margin: auto 0;
    }

    img {
      height: 2rem;
    }

    th, td {
      padding: 0.5rem;
      font-weight: 600;
    }

    th, td {
      font-size: 1.6rem;
    }

    .thead--top th{
      font-size: 1.4rem ;
    }

    th {
      color: var(--colorTableHead);
    }

    .col-name {
      width: 16ch;
    }

    tr > * {
      border-bottom: 1px solid var(--colorTableBorder);
    }

    .trophy-icon img{
      visibility: hidden;
    }

    .tabel-head-abbreviations {
      position: relative;
      display: block;
      color: var(--colorTableNumbers);
      font-size: 1.4rem;
      /* margin-top: auto; */
      text-align: left;
    }
  }
}



@include screenMinWidth(calc(100vh + 600px)) {

  body:has(nav.collapse-sidebar) .stats-container {
    padding: 6% 6%;
  }
}
