html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  background-color: var(--colorBgDarker);
  color: var(--colorAccent);
  font-size: 1.6rem;

  @include screenMaxWidth(986px) {
    background-color: var(--colorBgLighter);
  }
}
