.player-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(10% - 0.2%);
  width: calc(10% - 0.2%);
  bottom: 2vh; left: -8.5vh;
  // aspect-ratio: 1 / 1;
  object-fit: contain;
  z-index: 5;
  transition: all 0.35s ease;
  filter: drop-shadow(0 0 2rem var(--colorAccent));

  @include screenMaxWidth(calc(105vh + 200px)) {
    bottom: 0.5%; left: -9%;
  }

  &:has(.player-arrow-img) {
    display: none;
    align-items: flex-end;
    z-index: 10;
  }

  .player-counter-img {
    position: relative;
    height: 82%;
    width: 82%;
  }

  .player-arrow-img {
    height: 65%;
    animation: arrow-animation 1.2s ease infinite;
    margin-bottom: calc(100% - 9%);
  }

  &.player-0-box:has(.player-arrow-img) {
    display: flex;
  }

  &.player-1-box {
    margin-bottom: 4%;
  }
}
