:root {
  --colorBgLighter: #3d0409;
  --colorBgDarker: #170204;
  --colorText: #A73B4B;
  --colorContainerBorder: hsl(355deg 100% 15%);
  /* --colorContentBg: #DCABC0; */
  --colorContentBg: #DCABC0;
  --colorBtnRollBg: hsl(355deg 83% 28%);
  --colorAccent: #BB1120;
  --colorTableHead: #F2A0B0;
  --colorTableNumbers: #5B333A;
  --colorTableBorder: hsl(349deg 77% 23%);
}
